/*  CSS3 ✰ Classes  */
html {
  height: 100%;
}
body {
  background-color: #d5d5d5;
  height: 100%;
  margin: 0;
}
.container {
  max-width: none !important;
  position: relative;
  width: 938px;
}
.container-full {
  margin: 0 auto;
  min-width: 1200px !important;
  width: 100%;
}
#msg {
  background-color: #feefb3;
  border-bottom: 2px solid #bf9555;
  color: #a96b23;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 300;
}
header {
  background: transparent url("../img/bgtop.png") repeat-x top;
  height: 92px;
  width: 100%;
}
.initial {
  position: relative;
  z-index: 2;
}
.initial .logo {
  background: transparent url("../img/hamilogo.png") no-repeat;
  height: 227px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  text-indent: -99999px;
  width: 157px;
}
.social {
  position: absolute;
  right: 100px;
  top: 5px;
}
.social .idioma {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.social a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 39px;
  text-indent: -99999px;
  width: 41px;
}
.social .fb {
  background: transparent url("../img/social.png") no-repeat 0 0;
}
.social .tw {
  background: transparent url("../img/social.png") no-repeat -50px 0;
}
.social .ct {
  background: transparent url("../img/social.png") no-repeat -99px 0;
}
.inter {
  position: relative;
  z-index: 2;
}
.inter .logo {
  background: transparent url("../img/hamilogo.png") no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 141px;
  margin: 0 auto;
  text-indent: -99999px;
  width: 94px;
}
.inter .logomkt {
  background: transparent url("../img/mkt/logo.png") no-repeat !important;
  height: 71px !important;
  margin: 40px auto 0;
  width: 183px !important;
}
#main {
  height: 100%;
  margin-top: -5px;
}
#main div {
  height: 100%;
}
#main #initPisos {
  background: url("../img/ini-pisos.jpg") no-repeat left top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#main #initPisos a {
  display: block;
  height: 100%;
}
#main #initPisos a span {
  background: transparent url("../img/leg-pisos.png") no-repeat;
  display: block;
  height: 88px;
  position: absolute;
  top: 60%;
  right: 0;
  text-indent: -99999px;
  width: 196px;
}
#main #initEnergia {
  background: url("../img/ini-energia.jpg") no-repeat left top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#main #initEnergia a {
  display: block;
  height: 100%;
}
#main #initEnergia a span {
  background: transparent url("../img/leg-energia.png") no-repeat;
  display: block;
  height: 88px;
  position: absolute;
  top: 60%;
  right: 0;
  text-indent: -99999px;
  width: 177px;
}
#main #initMarketing {
  background: url("../img/ini-marketing.jpg") no-repeat left top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#main #initMarketing a {
  display: block;
  height: 100%;
}
#main #initMarketing a span {
  background: transparent url("../img/leg-marketing.png") no-repeat;
  display: block;
  height: 88px;
  position: absolute;
  top: 60%;
  right: 0;
  text-indent: -99999px;
  width: 194px;
}
#main #initCine {
  background: url("../img/ini-cine.jpg") no-repeat left top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#main #initCine a {
  display: block;
  height: 100%;
}
#main #initCine a span {
  background: transparent url("../img/leg-cine.png") no-repeat;
  display: block;
  height: 88px;
  position: absolute;
  top: 60%;
  right: 0;
  text-indent: -99999px;
  width: 149px;
}
header h4 {
  color: #fff;
  font: 300 12px 'Ubuntu', sans-serif;
  margin: 20px;
}
header nav ul,
header nav li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-right: 1px solid #fff;
}
header nav ul a,
header nav li a {
  color: #fff;
  display: block;
  font: 300 12px 'Ubuntu', sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
}
header nav ul a:hover,
header nav li a:hover {
  color: #fff;
  text-decoration: none;
}
header nav ul:last-child,
header nav li:last-child {
  border-right: none;
}
header nav .btn-volver {
  background: transparent url("../img/mkt/pic.png") no-repeat left center;
  color: #a1a1a1;
  display: block;
  font: 300 14px 'Ubuntu', sans-serif;
  font-style: italic;
  padding-left: 20px;
  margin: 28px 0 0 140px;
}
.pisos #banner {
  background: url("../img/pisos/bgbanner.jpg") no-repeat center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.pisos .itemBanner p {
  left: 424px;
  top: 190px;
  width: 423px;
}
.pisos .corcheteIzq {
  background: transparent url("../img/pisos/corchetes.png") no-repeat left top !important;
  top: 100px;
}
.pisos .corcheteDer {
  background: transparent url("../img/pisos/corchetes.png") no-repeat right top !important;
  top: 100px;
}
.mkt {
  background: url("../img/pisos/bgbanner.jpg") no-repeat center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.mkt .container {
  padding: 0 !important;
}
.mkt .itemInt3 {
  left: 434px;
  top: 150px;
}
.mkt .itemInt4 {
  left: 424px;
  top: 83px;
  width: 423px;
}
.mkt .itemInt5 {
  left: 364px;
  top: 300px;
  width: 544px;
}
.mkt .corcheteIzq {
  background: transparent url("../img/mkt/corchetes.png") no-repeat left top !important;
  top: 80px;
}
.mkt .corcheteDer {
  background: transparent url("../img/mkt/corchetes.png") no-repeat right top !important;
  top: 80px;
}
#banner {
  margin-top: -5px;
}
#banner .itemBanner {
  height: 409px;
}
#banner .itemBanner .img {
  position: absolute;
  left: 20px;
  top: 38px;
}
#banner .itemBanner h3 {
  border-bottom: 2px solid #d9021c;
  color: #000;
  font: 700 36px 'Ubuntu', sans-serif;
  left: 424px;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 130px;
  width: 423px;
}
#banner .itemBanner h3 span {
  font: 300 36px 'Ubuntu', sans-serif;
}
#banner .itemBanner ul {
  margin: 0;
  position: absolute;
}
#banner .itemBanner ul li {
  color: #000;
  font: 400 14px 'Ubuntu', sans-serif;
}
#banner .itemBanner p {
  color: #000;
  font: 400 14px 'Ubuntu', sans-serif;
  line-height: 18px;
  position: absolute;
}
#banner .itemBanner .corcheteIzq {
  height: 196px;
  left: 364px;
  position: absolute;
  width: 61px;
}
#banner .itemBanner .corcheteDer {
  height: 196px;
  left: 844px;
  position: absolute;
  width: 61px;
}
#bannersInf {
  position: relative;
  top: -30px;
}
#bannersInf .container {
  padding: 0 70px;
}
#bannersInf .container .itemBan {
  background-color: #fff;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 240px;
  overflow: hidden;
  position: relative;
}
#bannersInf .container .itemBan img {
  display: block;
}
#bannersInf .container .itemBan .txt a {
  background: transparent url("../img/plus.png") no-repeat left top;
  color: #000;
  display: block;
  font: 700 16px 'Ubuntu', sans-serif;
  line-height: 20px;
  margin: 15px 20px 10px;
  padding: 0 0 0 30px;
  text-transform: uppercase;
}
#bannersInf .container .itemBan .txt a span {
  font: 300 16px 'Ubuntu', sans-serif;
}
#bannersInf .container .boletin h4 {
  background: transparent url("../img/newsletter.png") no-repeat;
  border-bottom: 2px solid #d9021c;
  color: #000;
  font: 700 16px 'Ubuntu', sans-serif;
  margin: 25px 25px 10px;
  padding: 3px 0 17px 35px;
  text-transform: uppercase;
}
#bannersInf .container .boletin p {
  color: #000;
  font: 300 12px 'Ubuntu', sans-serif;
  line-height: 18px;
  margin: 0 25px 10px;
}
#bannersInf .container .boletin form {
  background-color: #898783;
  height: 105px;
  padding: 30px 25px 9px;
  width: 100%;
}
#bannersInf .container .boletin form input {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
  padding: 5px;
  width: 150px;
}
#bannersInf .container .boletin form button {
  background: #a19f9c url("../img/pico.png") no-repeat center;
  border: 3px solid #fff;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 34px;
  position: relative;
  top: 6px;
  width: 34px;
}
#bannersInf .container #leg-down {
  background: transparent url("../img/mkt/legend.png") no-repeat;
  height: 130px;
  margin: 30px 70px;
  padding: 10px 45px;
}
#bannersInf .container #leg-down p {
  color: #000;
  font: 400 14px 'Ubuntu', sans-serif;
  line-height: 22px;
}
footer {
  background-color: #303030;
  -o-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
}
footer .row {
  padding: 35px 40px;
}
footer ul {
  margin: 0 0 30px;
  padding: 0;
}
footer ul li {
  list-style: none;
  margin: 10px 0;
}
footer ul .th {
  color: #e6e2e0;
  font: 400 14px 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
footer ul a {
  color: #858585;
  display: block;
  font: 300 11px 'Ubuntu', sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}
footer ul a i {
  background: transparent url("../img/bullet.png") no-repeat;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}
footer ul a:hover {
  color: #fff;
  text-decoration: none;
}
.tituloSec .container {
  padding: 0 30px 0 150px;
}
.tituloSec h2 {
  border-bottom: 2px solid #d9021c;
  color: #000;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font: 700 36px 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.tituloSec p {
  color: #000;
  font: 400 14px 'Ubuntu', sans-serif;
  line-height: 20px;
}
#productos h3 {
  background: transparent url("../img/vineta.png") no-repeat left center;
  color: #000;
  font: 400 20px 'Ubuntu', sans-serif;
  margin-bottom: 20px;
  padding-left: 40px;
}
#productos .itemProducto h4 {
  border-bottom: 2px solid #d9021c;
  color: #000;
  font: 400 14px 'Ubuntu', sans-serif;
  height: 44px;
  margin: 0 auto;
  padding: 5px 0;
  width: 172px;
}
#productos .itemProducto .img {
  background-color: #fff;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 172px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 172px;
}
#productos .itemProducto .ver-galeria a,
#productos .itemProducto .ver-carta a {
  color: #6e6e6e;
  display: block;
  font: 400 14px 'Ubuntu', sans-serif;
  height: 32px;
  margin: 15px auto;
  position: relative;
  width: 172px;
}
#productos .itemProducto .ver-galeria a i,
#productos .itemProducto .ver-carta a i {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 32px;
  position: absolute;
  top: 0;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 15px;
}
#productos .itemProducto .ver-galeria a .corchetin-left,
#productos .itemProducto .ver-carta a .corchetin-left {
  background: transparent url("../img/corchetines.png") no-repeat left top;
  left: 5px;
}
#productos .itemProducto .ver-galeria a .corchetin-right,
#productos .itemProducto .ver-carta a .corchetin-right {
  background: transparent url("../img/corchetines.png") no-repeat right top;
  right: 5px;
}
#productos .itemProducto .ver-galeria a:hover,
#productos .itemProducto .ver-carta a:hover {
  color: #d9021c;
  text-decoration: none;
}
#productos .itemProducto .ver-galeria a:hover .corchetin-left,
#productos .itemProducto .ver-carta a:hover .corchetin-left {
  left: 0px;
}
#productos .itemProducto .ver-galeria a:hover .corchetin-right,
#productos .itemProducto .ver-carta a:hover .corchetin-right {
  right: 0px;
}
#productos .itemProducto .ver-galeria a {
  background: transparent url("../img/iconetes.png") no-repeat 28px 5px;
  padding: 5px 0 0 70px;
}
#productos .itemProducto .ver-carta a {
  background: transparent url("../img/iconetes.png") no-repeat 20px -43px;
  padding: 5px 0 0 50px;
}
.interiorProductos {
  background: url("../img/textura.jpg") repeat;
}
#detalle-productos .detalle {
  margin-bottom: 38px;
}
#detalle-productos .galeria {
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -o-box-shadow: #333 0 0 10px;
  -ms-box-shadow: #333 0 0 10px;
  -moz-box-shadow: #333 0 0 10px;
  -webkit-box-shadow: #333 0 0 10px;
  box-shadow: #333 0 0 10px;
  -webkit-background-clip: padding-box;
  height: 372px;
  overflow: hidden;
  position: relative;
  width: 700px;
  z-index: 2;
}
#detalle-productos .galeria .cycle-slideshow {
  height: 372px;
}
#detalle-productos .galeria .cycle-overlay {
  background-color: #000;
  bottom: 0;
  color: #fff;
  font: 300 13px 'Ubuntu', sans-serif;
  font-style: italic;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  padding: 8px 0 8px 20px;
  position: absolute;
  text-shadow: #000 1px 1px 2px;
  width: 100%;
  z-index: 102;
}
#detalle-productos .galeria .cycle-pager {
  bottom: 8px;
  position: absolute;
  right: 20px;
  z-index: 102;
}
#detalle-productos .galeria .cycle-pager span {
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font: 30px arial, sans-serif;
  height: 16px;
  text-align: center;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 16px;
}
#detalle-productos .galeria .cycle-pager .cycle-pager-active {
  color: #d69746;
}
#detalle-productos .btnsDetProd {
  background-color: #fff;
  -o-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  left: -17px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 10px;
  position: relative;
  top: 10px;
  width: 218px;
}
#detalle-productos .btnsDetProd li a {
  background-color: none;
  color: #6e6e6e;
  display: block;
  font: 400 16px 'Ubuntu', sans-serif;
  height: 115px;
  padding: 80px 20px 0;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#detalle-productos .btnsDetProd li a:hover {
  background-color: #dfdfdf;
  text-decoration: none;
}
#detalle-productos .btnsDetProd li .btnGaleria {
  background-image: url("../img/pisos/prods-corchetes.png");
  background-repeat: no-repeat;
  background-position: 20px 14px;
}
#detalle-productos .btnsDetProd li .btnCarta {
  background-image: url("../img/pisos/prods-corchetes.png");
  background-repeat: no-repeat;
  background-position: 20px -106px;
}
#detalle-productos .btnsDetProd li .btnMoldes {
  background-image: url("../img/pisos/prods-corchetes.png");
  background-repeat: no-repeat;
  background-position: 20px -236px;
}
#detalle-productos .subproductos {
  margin-bottom: 38px;
}
#detalle-productos .subproductos h4 {
  color: #000;
  font: 700 18px 'Ubuntu', sans-serif;
  height: 40px;
}
#detalle-productos .subproductos h4 span {
  font: 300 18px 'Ubuntu', sans-serif;
}
#detalle-productos .subproductos img {
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: block;
  margin-bottom: 18px;
}
