@import "classes"

morado = #523465
lila = #A388B0
txt = #EDEBED

font1(we,siz)
	font we siz 'Ubuntu', sans-serif;
html
	height 100%
body
	background-color #D5D5D5
	height 100%
	margin 0

.container
	max-width none !important
	position relative
	width 938px

.container-full
	margin 0 auto
	min-width 1200px !important
	width 100%

#msg
	background-color #feefb3
	border-bottom 2px solid #bf9555
	color #a96b23
	lato(400,20px)
	padding 20px 0
	position absolute
	text-align center
	top 0
	width 100%
	z-index 300


header
	background transparent url(../img/bgtop.png) repeat-x top
	height 92px
	width 100%
.initial
	position relative
	z-index 2
	.logo
		background transparent url(../img/hamilogo.png) no-repeat
		height 227px
		margin 0 auto
		position absolute
		left 0
		right 0
		text-indent -99999px
		width 157px
.social
	position absolute
	right 100px
	top 5px
	.idioma
		display inline-block
	a
		display inline-block
		height 39px
		text-indent -99999px
		width 41px
	.fb
		background transparent url(../img/social.png) no-repeat 0 0
	.tw
		background transparent url(../img/social.png) no-repeat -50px 0
	.ct
		background transparent url(../img/social.png) no-repeat -99px 0
.inter
	position relative
	z-index 2
	.logo
		background transparent url(../img/hamilogo.png) no-repeat
		background-size 100%
		height 141px
		margin 0 auto
		text-indent -99999px
		width 94px
	.logomkt
		background transparent url(../img/mkt/logo.png) no-repeat !important
		height 71px !important
		margin 40px auto 0
		width 183px !important

#main
	height 100%
	margin-top -5px
	div
		height 100%
	#initPisos
		background url(../img/ini-pisos.jpg) no-repeat left top
		background-size cover
		a
			display block
			height 100%
			span
				background transparent url(../img/leg-pisos.png) no-repeat
				display block
				height 88px
				position absolute
				top 60%
				right 0
				text-indent -99999px
				width 196px

	#initEnergia
		background url(../img/ini-energia.jpg) no-repeat left top
		background-size cover
		a
			display block
			height 100%
			span
				background transparent url(../img/leg-energia.png) no-repeat
				display block
				height 88px
				position absolute
				top 60%
				right 0
				text-indent -99999px
				width 177px

	#initMarketing
		background url(../img/ini-marketing.jpg) no-repeat left top
		background-size cover
		a
			display block
			height 100%
			span
				background transparent url(../img/leg-marketing.png) no-repeat
				display block
				height 88px
				position absolute
				top 60%
				right 0
				text-indent -99999px
				width 194px

	#initCine
		background url(../img/ini-cine.jpg) no-repeat left top
		background-size cover
		a
			display block
			height 100%
			span
				background transparent url(../img/leg-cine.png) no-repeat
				display block
				height 88px
				position absolute
				top 60%
				right 0
				text-indent -99999px
				width 149px
header
	h4
		color #FFFFFF
		font1(300,12px)
		margin 20px
	nav
		ul
		li
			display inline-block
			border-right 1px solid #FFFFFF
			a
				color #FFFFFF
				display block
				font1(300,12px)
				padding 10px 15px
				text-transform uppercase
				&:hover
					color #FFFFFF
					text-decoration none
			&:last-child
				border-right none
		.btn-volver
			background transparent url(../img/mkt/pic.png) no-repeat left center
			color #A1A1A1
			display block
			font1(300,14px)
			font-style italic
			padding-left 20px
			margin 28px 0 0 140px
.pisos
	#banner
		background url(../img/pisos/bgbanner.jpg) no-repeat center top
		background-size cover
	.itemBanner
		p
			left 424px
			top 190px
			width 423px
	.corcheteIzq
		background transparent url(../img/pisos/corchetes.png) no-repeat left top !important
		top 100px
	.corcheteDer
		background transparent url(../img/pisos/corchetes.png) no-repeat right top !important
		top 100px
.mkt
	background url(../img/pisos/bgbanner.jpg) no-repeat center top
	background-size cover
	.container
		padding 0 !important
	.itemInt3
		left 434px
		top 150px
	.itemInt4
		left 424px
		top 83px
		width 423px
	.itemInt5
		left 364px
		top 300px
		width 544px
	.corcheteIzq
		background transparent url(../img/mkt/corchetes.png) no-repeat left top !important
		top 80px
	.corcheteDer
		background transparent url(../img/mkt/corchetes.png) no-repeat right top !important
		top 80px
#banner
	margin-top -5px
	.itemBanner
		height 409px
		.img
			position absolute
			left 20px
			top 38px
		h3
			border-bottom 2px solid #d9021c
			color #000
			font1(700,36px)
			left 424px
			margin 0
			position absolute
			text-transform uppercase
			top 130px
			width 423px
			span
				font1(300,36px)
		ul
			margin 0
			position absolute
			li
				color #000
				font1(400,14px)
		p
			color #000
			font1(400,14px)
			line-height 18px
			position absolute
		.corcheteIzq
			height 196px
			left 364px
			position absolute
			width 61px
		.corcheteDer
			height 196px
			left 844px
			position absolute
			width 61px

#bannersInf
	position relative
	top -30px
	.container
		padding 0 70px
		.itemBan
			background-color #FFFFFF
			border-radius(15px)
			height 240px
			overflow hidden
			position relative
			img
				display block
			.txt
				a
					background transparent url(../img/plus.png) no-repeat left top
					color #000
					display block
					font1(700,16px)
					line-height 20px
					margin 15px 20px 10px
					padding 0 0 0 30px
					text-transform uppercase
					span
						font1(300,16px)

		.boletin
			h4
				background transparent url(../img/newsletter.png) no-repeat
				border-bottom 2px solid #D9021C
				color #000
				font1(700,16px)
				margin 25px 25px 10px
				padding 3px 0 17px 35px
				text-transform uppercase
			p
				color #000
				font1(300,12px)
				line-height 18px
				margin 0 25px 10px
			form
				background-color #898783
				height 105px
				padding 30px 25px 9px
				width 100%
				input
					display inline-block
					margin 0 5px 0 0
					padding 5px
					width 150px
				button
					background #A19F9C url(../img/pico.png) no-repeat center
					border 3px solid #FFF
					display inline-block
					height 34px
					position relative
					top 6px
					width 34px
		#leg-down
			background transparent url(../img/mkt/legend.png) no-repeat
			height 130px
			margin 30px 70px
			padding 10px 45px
			p
				color #000
				font1(400,14px)
				line-height 22px


footer
	background-color #303030
	border-radius(30px 30px 0 0)
	.row
		padding 35px 40px
	ul
		margin 0 0 30px
		padding 0
		li
			list-style none
			margin 10px 0
		.th
			color #E6E2E0
			font1(400,14px)
			text-transform uppercase
		a
			color #858585
			display block
			font1(300,11px)
			line-height 18px
			text-transform uppercase
			i
				background transparent url(../img/bullet.png) no-repeat
				display inline-block
				height 10px
				margin-right 10px
				width 10px
			&:hover
				color #FFFFFF
				text-decoration none


.tituloSec
	.container
		padding 0 30px 0 150px
	h2
		border-bottom 2px solid #D9021C
		color #000
		display inline-block
		font1(700,36px)
		text-transform uppercase
	p
		color #000
		font1(400,14px)
		line-height 20px
#productos
	h3
		background transparent url(../img/vineta.png) no-repeat left center
		color #000
		font1(400,20px)
		margin-bottom 20px
		padding-left 40px
	.itemProducto
		h4
			border-bottom 2px solid #D9021C
			color #000
			font1(400,14px)
			height 44px
			margin 0 auto
			padding 5px 0
			width 172px
		.img
			background-color #FFF
			border-radius(15px)
			height 172px
			margin 10px auto
			overflow hidden
			position relative
			width 172px
		.ver-galeria,
		.ver-carta
			a
				color #6e6e6e
				display block
				font1(400,14px)
				height 32px
				margin 15px auto
				position relative
				width 172px
				i
					display inline-block
					height 32px
					position absolute
					top 0
					transition(all 0.2s ease 0s)
					width 15px
				.corchetin-left
					background transparent url(../img/corchetines.png) no-repeat left top
					left 5px
				.corchetin-right
					background transparent url(../img/corchetines.png) no-repeat right top
					right 5px
				&:hover
					color #D9021C
					text-decoration none
					.corchetin-left
						left 0px
					.corchetin-right
						right 0px
		.ver-galeria
			a
				background transparent url(../img/iconetes.png) no-repeat 28px 5px
				padding 5px 0 0 70px
		.ver-carta
			a
				background transparent url(../img/iconetes.png) no-repeat 20px -43px
				padding 5px 0 0 50px

.interiorProductos
	background url(../img/textura.jpg) repeat

#detalle-productos
	.detalle
		margin-bottom 38px
	.galeria
		border-radius(20px)
		box-shadow(#333 0 0 10px)
		height 372px
		overflow hidden
		position relative
		width 700px
		z-index 2
		.cycle-slideshow
			height 372px
		.cycle-overlay
			background-color #000
			bottom 0
			color #FFF
			font1(300,13px)
			font-style italic
			opacity 0.5
			padding 8px 0 8px 20px
			position absolute
			text-shadow #000 1px 1px 2px
			width 100%
			z-index 102
		.cycle-pager
			bottom 8px
			position absolute
			right 20px
			z-index 102
			span
				color #ddd
				cursor pointer 
				display inline-block
				font 30px arial, sans-serif
				height 16px
				text-align center
				transition(all 0.2s ease 0s)
				width 16px
			.cycle-pager-active
				color #D69746
	.btnsDetProd
		background-color #FFFFFF
		border-radius(0 20px 20px 0)
		left -17px
		list-style none
		margin 0
		overflow hidden
		padding 0 0 0 10px
		position relative
		top 10px
		width 218px
		li
			a
				background-color none
				color #6E6E6E
				display block
				font1(400,16px)
				height 115px
				padding 80px 20px 0
				transition(all 0.2s ease 0s)
				&:hover
					background-color #dfdfdf
					text-decoration none
			.btnGaleria
				background-image url(../img/pisos/prods-corchetes.png)
				background-repeat no-repeat
				background-position 20px 14px
			.btnCarta
				background-image url(../img/pisos/prods-corchetes.png)
				background-repeat no-repeat
				background-position 20px -106px
			.btnMoldes
				background-image url(../img/pisos/prods-corchetes.png)
				background-repeat no-repeat
				background-position 20px -236px
	.subproductos
		margin-bottom 38px
		h4
			color #000
			font1(700,18px)
			height 40px
			span
				font1(300,18px)
		img
			border-radius(15px)
			display block
			margin-bottom 18px







// @media (min-width: 768px)


// @media (min-width: 1200px)
