doctype 5
html(lang='es')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Quimaira')
    meta(name='geo.placename', content='México')
    meta(name='robots', content='all')
    meta(name='copyright', content='Copyright (c) 2013 Quimaira, 10 años de experiencia')
    link(rel='shortcut icon', href='{DIR}/assets/ico/favicon.png')
    title Grupo Hami

    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700', rel='stylesheet')
    link(href='{DIR}css/bootstrap.min.css', rel='stylesheet')
    //- link(href='{DIR}js/slider/responsiveslides.css', rel='stylesheet')
    //- link(rel='stylesheet', href='{DIR}js/validate/validationEngine.jquery.css', type="text/css")
    link(href='{DIR}css/style.css', rel='stylesheet')
    //[if gt IE 8]><!
        script(src='{DIR}js/dist/html5shiv.js')
        script(src='{DIR}js/dist/respond.min.js')
    //<![endif]
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='{DIR}js/dist/bootstrap.min.js')
    script(src='{DIR}js/jquery.cycle2.min.js')
    script(src='{DIR}js/jquery.cycle2.caption2.min.js')
    //- script(src='{DIR}js/parallax/parallax.js')
    //- script(src='{DIR}js/jquery.scrollTo-1.4.3.1.min.js')
    //- script(src='{DIR}js/validate/jquery.validationEngine-es.js')
    //- script(src='{DIR}js/validate/jquery.validationEngine.js')
    script(src='{DIR}js/scripts.js')

body
    {MAIN}
    

